body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.header3 {
    position: relative;
    background-image: url('picturesWebsite/banner.jpg');  /* To add image to the background */
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 0.621);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;  
    overflow: hidden;
}
.header3:hover{
    color: white;
}
.header3::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.83); /* transparent black overlay */
  z-index: 0;
}
.header3 span {
  position: relative;
  z-index: 1;
}

/* This is the Main Body Section */
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.kidsMenWomenDiv {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 30px;
}
.kids{
    background-color: rgb(151, 151, 151);
    color: black;
    font-size: 30px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.kids:hover {
    transition: 150ms;
    transform: scale(1.05);
    outline: 3px solid rgb(55, 186, 230);
    background-color: #00ffd5;
    box-shadow:0px 0px 20px 10px rgb(0, 161, 214);
}
.men{
    background-color: rgb(151, 151, 151);
    color: black;
    font-size: 30px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.men:hover {
    transition: 150ms;
    transform: scale(1.05);
    outline: 3px solid rgba(51, 220, 0, 0.906);
    background-color: #c3ff00;
    box-shadow:0px 0px 20px 10px rgb(50, 214, 0);
}
.women{
    background-color: rgb(151, 151, 151);
    color: black;
    font-size: 30px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.women:hover {
    transition: 150ms;
    transform: scale(1.05);
    outline: 3px solid rgb(250, 0, 104);
    background-color: #ff9be4;
    box-shadow:0px 0px 20px 10px rgb(222, 0, 70);
}





