
/* This the the background in which all the top header elements are present */
.header {
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid rgb(111, 111, 111);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* This is the website logo */

.logo{                   
    width: 155px;
    padding-top: 7px;
    margin-top: -25px;
    margin-bottom: -35px;
    transition: 0.3s ease;    
} 
.logo:hover{
    opacity: 0.7;
}


/* This is the location logo Button */
.Location{
    padding: 10px;
}
.locationButton{
    background-color: transparent;
}
.locationButton:hover {
    transition: 0.25s;
    outline: 1px solid white;
    box-shadow: inset 0 0 5px 2px white;
}
.locationButton:active {
    background-color: rgb(171, 171, 171);
}
.locationPicture{
    width: 40px;
}



/* This is the SearchBar */
.search{
    padding: 10px;
    width: 2000px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchText{
    background-color: rgb(223, 211, 0);
    color: rgb(26, 26, 26);
    font-size: 18.9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 0;
    margin-left: 2rem;
    outline: 3px solid rgb(223, 211, 0);
    flex: 2;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.searchBar{
    outline: 3px solid rgba(223, 211, 0);
    height: 37px;
    width: 100%;                /* For responsive designs use percentage */
    max-width: 2000px;
    min-width: 200px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
}

/* This is the Accounts button */
.account{
    padding: 10px;
    margin-left: 20px;

}
.accountButton{
    background-color: rgba(255, 255, 255, 0.798);
}
.accountButton:hover{
    transition: 0.2s;
    opacity: 0.6;
}
.accountPicture{
    width: 40px;
}


/* This is the go to cart button */
.rightCart{
    margin-top: -10px;
    margin-bottom: -10px;
}
.cartButton{
    background-color: transparent;
}
.cartImage{
    width: 100px;
}
.cartImage:hover{
    opacity: 0.6;
}
.cartImage:active{
    opacity: 0.85;
}


/* This is the developer section */


.devButton{
    color: rgba(255, 255, 103, 0.918);
    font-size:24px;
    padding: 0;
    font-weight: bolder;
    margin-top: 20px;
    margin-right: 20px;
    background-color: transparent;
    margin-left: 20px;
    margin-bottom: -5px;
    width: 230px;
    transition: 0.4s ease;
}
.devButton:hover{

    color: rgba(255, 255, 103, 0.918);
    background-color: rgba(255, 255, 255, 0.166);
}
.devButton:active{
    transition: 0s;
    color: white;
    background-color:rgba(2, 2, 2, 0.59) ;
}

.socialsDiv{
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.Image{
    width: 37px;
}

.instaButton{
    padding: 0;
    background-color: transparent;
    transition: 0.4s ease;
}
.instaButton:hover{    
    transform: scale(1.2);
    box-shadow: 0 4px 6px rgba(252, 154, 255, 0.792);
}
.instaButton:active{
    transition: 0ms;
    opacity: 0.5;
}

.xButton{
    padding: 0;
    background-color: transparent;
    transition: 0.4s ease;
}
.xButton:hover{
    transform: scale(1.2);
    box-shadow: 0 4px 6px rgba(239, 255, 116, 0.792);
}
.xButton:active{
    transition: 0ms;
    opacity: 0.5;
}

.linkedinButton{
    padding: 0;
    background-color: transparent;
    transition: 0.4s ease;
}
.linkedinButton:hover{
    transform: scale(1.2);
    box-shadow: 0 4px 6px rgba(128, 168, 255, 0.792);
}
.linkedinButton:active{
    transition: 0ms;
    opacity: 0.5;
}

.githubButton{
    padding: 0;
    background-color: transparent;
    transition: 0.4s ease;
}
.githubButton:hover{
    transform: scale(1.2);
    box-shadow: 0 4px 6px rgba(255, 110, 110, 0.792);
}
.githubButton:active{
    transition: 0ms;
    opacity: 0.5;
}

